@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized>
                    <a href="Account/Manage" class="top-row-user">
                        <i class="bi bi-person-circle me-1"></i>
                        @context.User.Identity?.Name
                    </a>
                </Authorized>
                <NotAuthorized>
                    <a href="Account/Register">Create Account</a>
                    <a href="Account/Login">Sign In</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
